<!DOCTYPE html>
<html>

<head>
    <title>Secure File Storage</title>
    <style>
        body {
            background-color: #bcd3ff;
            color: #222;
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <h1 id="main-header">
        Secure File Storage
        {% if session.version %}
        {{ session.version }}
        {% endif %}
    </h1>

    {% if session.username %}
    <p>Logged in as: <strong>{{ session.username }}</strong></p>
    <form action="/logout" method="GET"><input type="submit" value="Logout"></form>
    {% endif %}

    {% if session.auth_fail %}
    <p style="color: red;"><strong>{{ session.auth_fail }}</strong></p>
    {% set _ = session.pop('auth_fail') %}
    {% endif %}

    {% if session.register_fail %}
    <p style="color: red;"><strong>{{ session.register_fail }}</strong></p>
    {% set _ = session.pop('register_fail') %}
    {% endif %}

    <h2>Register</h2>
    <form method="POST" action="/register">
        Username: <input name="username" type="text"><br>
        Password: <input name="password" type="password"><br>
        <input type="submit" value="Register">
    </form>

    <h2>Authenticate</h2>
    <form method="POST" action="/auth">
        Username: <input name="username" type="text"><br>
        Password: <input name="password" type="password"><br>
        <input type="submit" value="Login">
    </form>

    <h2>Quick Encrypt & Download</h2>
    <form method="POST" action="/encrypt" enctype="multipart/form-data">
        Key: <input name="key" type="text"><br>
        File: <input type="file" name="file"><br>
        <input type="submit" value="Encrypt Now">
    </form>

    <h2>Quick Decrypt & Download</h2>
    <form method="POST" action="/decrypt" enctype="multipart/form-data">
        Key: <input name="key" type="text"><br>
        File: <input type="file" name="file"><br>
        <input type="submit" value="Decrypt Now">
    </form>

    <h2>Upload File to Storage</h2>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        Key: <input name="key" type="text"><br>
        File: <input type="file" name="file"><br>
        <input type="submit" value="Upload & Encrypt">
    </form>

    <h2>View Your Stored Files</h2>
    <form method="GET" action="/files/">
        <input type="submit" value="List My Files">
    </form>
</body>

</html>
